odoo-addon-sale_procurement_group_by_line @ git+https://github.com/OCA/sale-workflow.git@refs/pull/3947/head#subdirectory=sale_procurement_group_by_line
odoo-addon-sale_order_line_date @ git+https://github.com/OCA/sale-workflow.git@refs/pull/3946/head#subdirectory=sale_order_line_date
odoo-addon-account_invoice_fixed_discount @ git+https://github.com/OCA/account-invoicing.git@refs/pull/2174/head#subdirectory=account_invoice_fixed_discount
